.container {
  padding: 20px;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
  align-items: center;
}
.imageItem {

  box-sizing: border-box;
  max-width: 100%;
}
.pagesize {
  padding: 20px;
}
.image {
  margin: 0 10px;
}
.imageSponsors {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clearfix::after,
.speakersList::after,
.venuedet::after,
.footerwidth::after, .chefAdvisors::after, .venueclear::after {
  content: "";
  display: table;
  clear: both;
}
.clearfix {
  display: flex;
  justify-content: center;
  align-items: center;
}
.registrationDetails,
.BankaccountDet {
  max-width: 1200px;
  margin: 0px auto;
  padding-top: 10px;
  float: left;
  width: 50%;
  min-height: 245px;
}
.querydet {
  float: left;
  width: 50%;
  max-width: 1200px;
  margin: 0px auto;
}
.registrationDetails h2,
.BankaccountDet h2,
.querydet h2 {
  font-size: 20px;
  margin-bottom: 0.5rem;
  color: #243c7c;
}
.registrationDetails h3 {
  color: #cd0f0f;
}

.registrationDetails p,
.BankaccountDet p,
.querydet p {
  font-size: 20px;
  margin-bottom: 0.5rem;
  color: #243c7c;
}
.registrationLink {
  padding-top: 20px;
}

.programDetails {
  min-height: 1020px;
  background: url("/AIDentistryBrochure images/1.jpg") no-repeat bottom center /
    cover;
    position: relative;
}
.sponsers{
  position: absolute;
  bottom: 80px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  left: 80px;
}
.main {
  background: #243c7c;
}
.bannerHead {
  text-align: center;
  margin-top: 60px;
}
.bannerHead h1 {
  font-family: fangsong;
  color: #fff;
}
.bannerHead h2 {
  font-size: 32px;
  padding-top: 20px;
  color: #0af70a;
  font-family: auto;
}
.bannerHead h3 {
  font-size: 44px;
  padding-top: 10px;
  color: #d9ff09;
  font-family: auto;
}
.description {
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}
.venuedet {
  float: right;
  margin-right: 20px;
  margin-top: 30px;
  width: 35%;
}
.venuedet a {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  /* font-family: cursive; */
  padding-bottom: 20px;
}
.speakersList {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.speakersList h1,
.chefAdvisors h1, .organiseCommitte h2{
  color: #fff;
  font-size: 40px;
  text-align: center;
  font-weight: 500;
}
.organiseCommitte h3 {
  color: #fff;
  font-size: 30px;
  text-align: center;
  font-weight: 400;
}
.speakerContent h3 {
  color: #fff;
  font-size: 20px;
  padding-bottom: 10px;
}
.speakerContent p,.chefAdvisorimage h2,.organiseCommitte h2 {
  color: #d9ff09;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
.organiseCommitte h1 {
  color: #fff;
  font-weight: 500;
  padding-bottom: 10px;
}
.chefAdvisorimage img {
  width: auto !important;
}
.organiseCommitte h4 {
  color: #fff;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  padding-bottom: 20px;
}
.chefAdvisorimage p, .organiseCommitte p {
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}
.speakerRow {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  float: left;
  width: 50%;
  margin-top: 20px;
  justify-content: center;
}

.speakerImage {
  margin-right: 20px;
}

.speakerContent {
  display: flex;
  flex-direction: column;
  max-width: 270px;
}
.venuecal {
  background: url("/AIDentistryBrochure images/Calendar.png") no-repeat 0px 0px;
  height: 153px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding-left: 142px;
  margin-bottom: 20px;
}
.venuelocate {
  background: url("/AIDentistryBrochure images/Location.png") no-repeat 0px 0px;
  height: 153px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding-left: 142px;
}
/* components/SessionDetails.module.css */

.sessionDetails {
  text-align: center;
  padding: 20px;
}

.sessionDetails h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #243c7c;
}

.sessionDetails h2 {
  font-size: 20px;
  margin-bottom: 0.5rem;
  color: #243c7c;
}

/*organising style*/

.organiseCommitte .container {
  text-align: center;
  padding: 20px;
  background-color: #243c7c;
}

.organiseCommitte .row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}


.organiseCommitte .card {
  background-color: #243c7c;
  border-radius: 8px;
  box-shadow: none;
  padding: 20px;
  margin: 10px;
  max-width: 100%;
  text-align: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  max-width: 1106px;
  margin: 20px auto;
}
.table td {
  color: #000 !important;
}

.table th,
.table td {
  border: 1px solid #243c7c;
  padding: 8px;
}
.table td {
  max-width: 425px;
}
.table th {
  background-color: #243c7c;
  font-weight: bold;
  padding: 20px;
  color: #fff;
}
.sessiondetails {
  background: #fff;
}
.footerContainer {
  background: #fff;
}
.footerwidth {
  max-width: 1200px;
  margin: 0px auto;
  padding-top: 50px;
  width: 100%;
  padding-bottom: 20px;
}
.chefAdvisors {
  padding-top: 50px;
  max-width: 1106px;
  margin: 20px auto;
}
.chefAdvisorimage {
  padding-top: 50px;
    max-width: 1106px;
    margin: 0px 20px;
    float: left;
    width: calc(50% - 40px);
    text-align: center;
}
.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
} */

/* @media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
} */

/* Mobile */
@media (max-width: 1100px){
  .speakersList {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
}
  .footerwidth {
    padding-left: 20px;
    padding-right: 20px;
}
  .venuedet {
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .programDetails {
    min-height: 424px;
}
.sponsers {
  left: 20px;
  right: 20px;
}
}
@media (max-width: 1024px){
  .table td {
    max-width: 100%;
    font-size: 14px;
}
 
  .registrationDetails, .BankaccountDet{
    width: 100%;
}
  .speakerRow {
  
    width: 100%;
  
  }
 
}


@media (max-width: 700px) {
  .sponsers img {
    width: auto !important;
    height: auto !important;
}
  .organiseCommitte, .row {
    display: block !important;
}
  .imageSponsors{
    float: none;
    display: block;
}

  .sponsers {
    position: static;
    margin: 0px 20px;
}
  .venuedet {
    
    display: block;
  
}
  .content {
    padding: 4rem;
  }
  .bannerHead h1,.bannerHead h2, .bannerHead h3 {

    font-size: 22px;
    line-height: 26px;
}

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
